body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Nunito Sans', 'Lato', sans-serif;
  line-height: 1.6;
  padding: 3rem; }

.heading-primary {
  color: white;
  margin-bottom: 4rem;
  letter-spacing: 0.2rem; }
  .heading-primary--top {
    font-size: 7rem;
    display: block;
    font-weight: 700;
    animation: moveRight 0.5s linear;
    transition: all 0.5s linear; }
  .heading-primary--sub {
    font-size: 2.8rem;
    display: block;
    font-weight: 700;
    animation: moveLeft 0.5s linear;
    transition: all 0.5s linear; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  60% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

html,
body {
  height: 100%; }

body {
  box-sizing: border-box; }

::selection {
  color: white; }

.u--tac {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear; }

.btn:hover {
  transform: translateY(-0.3rem) scale(1.03);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(0.3rem) scale(0.97); }

.btn--white {
  background-color: white;
  color: black; }

.btn--animated {
  animation: moveUp 0.5s linear; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(0, 54, 55, 0.5), rgba(98, 179, 170, 0.1)), url("../img/hiking.jpeg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 2rem; }
  .header__logo {
    width: 5rem;
    height: 5rem; }
  .header__text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
