.section-about {
  background-color: $color-gray;
  padding: 25rem 0;
  margin-top: -10%;

  .heading-secondary {
    transition: all 0.3s linear;
    &:hover {
      transform: skewY(-3deg) scale(1.1);
      text-shadow: 0 0 0 0.5rem $color-primary-dark;
    }
  }
}
.section-features {
  padding: 25rem 0;
  background-image: url('../../img/hiking.jpeg'),
    linear-gradient(
      to bottom right,
      rgba($color-main, 0.75),
      rgba($color-secondary, 0.34)
    );
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}
.section-tours {
  padding: 25rem 0;
  background-color: $color-gray;
  margin-top: -10%;

  .heading-secondary {
    transition: all 0.3s linear;
    &:hover {
      transform: skewY(-3deg) scale(1.1);
      text-shadow: 0 0 0 0.5rem $color-primary-dark;
    }
  }
}
.section-stories {
  position: relative;
  padding: 15rem 0;
}
.section-book {
  padding: 20rem 0rem;
  background-color: #2c4a5aa5;
  margin-top: -1px;
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(227, 227, 227, 0.79) 0%,
      rgba(227, 227, 227, 0.79) 50%,
      transparent 50%
    ),
    url('../../img/hiking.jpeg');
  background-size: 100%;
  background-position: center;
  height: 60rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba($color-main, 0.5);
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
