.section-about {
  background-color: $color-gray;
  padding: 25rem 0;
  margin-top: -10%;

  .heading-secondary {
    transition: all 0.3s linear;
    &:hover {
      transform: skewY(-3deg) scale(1.1);
      text-shadow: 0 0 0 0.5rem $color-primary-dark;
    }
  }
}
.section-features {
  padding: 25rem 0;
  background-image: url('../../img/hiking.jpeg'),
    linear-gradient(
      to bottom right,
      rgba($color-main, 0.75),
      rgba($color-secondary, 0.34)
    );
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}
.section-tours {
  padding: 25rem 0;
  background-color: $color-gray;
  margin-top: -10%;

  .heading-secondary {
    transition: all 0.3s linear;
    &:hover {
      transform: skewY(-3deg) scale(1.1);
      text-shadow: 0 0 0 0.5rem $color-primary-dark;
    }
  }
}
