.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-main, 0.5),
      rgba($color-secondary, 0.1)
    ),
    url('../img/hiking.jpeg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 2rem;
  }
  &__logo {
    width: 5rem;
    height: 5rem;
  }
  &__text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
