.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    letter-spacing: 0.3rem;
    font-size: $default-font-size;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s linear;
  }
  &:hover {
    transform: translateY(-0.3rem) scale(1.03);
    box-shadow: 0px 0px 10px rgba($color-black, 0.5);
  }
  &:active {
    transform: translateY(0.3rem) scale(0.97);
  }
  &--white {
    background-color: $color-white;
    color: $color-black;
  }
  &--animated {
    animation: moveUp 0.5s linear;
  }
}
