.composition {
  position: relative;
  &__photo {
    position: absolute;
    width: 55%;
    height: 22rem;
    box-shadow: 0px 0px 10px rgba($color-black, 0.5);
    background-size: cover;
    border-radius: 1rem;
    z-index: 10;
    transition: all 0.2s;
    &--1 {
      left: 0;
      top: -2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 30%;
      top: 10rem;
    }
    &:hover {
      transform: translateY(-0.3rem) scale(1.03);
      box-shadow: 0px 0px 10px rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
  }
}
