.form {
  &__group:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  &__input {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: rgba($color-white, 0.5);
    border: none;
    color: inherit;
    width: 100%;
    display: block;
    &:focus {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
      border-bottom: 2px solid #2c4a5aa5;
      outline: none;
    }
    &:focus:valid {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
      border-bottom: 2px solid #2c4a5aa5;
      outline: none;
    }
    &:focus:invalid {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
      border-bottom: 2px solid red;
    }
    &::-webkit-input-placeholder {
      color: rgba($color-gray, 0.5);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.13s ease-in;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-4rem);
    visibility: hidden;
  }
}
