body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Nunito Sans', 'Lato', sans-serif;
  line-height: 1.6;
  padding: 3rem;
}
.heading-primary {
  color: $color-white;
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;

  &--top {
    font-size: 7rem;
    display: block;
    font-weight: 700;
    animation: moveRight 0.5s linear;
    transition: all 0.5s linear;
  }
  &--sub {
    font-size: 2.8rem;
    display: block;
    font-weight: 700;
    animation: moveLeft 0.5s linear;
    transition: all 0.5s linear;
  }
}
.heading-secondary {
  font-size: 3.8rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary-light
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heading-tertiary {
  font-size: 2.8rem;
  font-weight: 700;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 2rem;
}
