$color-main: rgb(0, 54, 55);
$color-secondary: rgb(98, 179, 170);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(244, 244, 244);

$color-primary-dark: rgb(17, 43, 43);
$color-primary-light: rgb(72, 107, 108);
$color-secondary-dark: rgb(168, 135, 34);
$color-secondary-light: rgb(152, 122, 70);
$color-tertiary-dark: rgb(67, 206, 20);
$color-tertiary-light: rgb(175, 210, 164);
$font-family: 'Nunito Sans', 'Lato', sans-serif;

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
